<style> 
    .album {
        font: 20px "Century Gothic", Futura, sans-serif;
        padding: 10px;
        width: 150px;
        height: 200px;
    }
    .album-cover {
        width: 150px;
        height: 150px;
        margin-bottom: 5px;
    }
    .album-title {
        font-size: 18px;
        margin: auto;
    }
    .artist {
        font-size: 16px;
        margin: auto;
    }
</style>

<div class="album">
    <img class="album-cover" alt="album cover">
    <h2 class ="album-title"> ALBUM TITLE </h2>
    <p class ="artist"> Artist </p>
</div>
