<style> 
    @import url('https://fonts.cdnfonts.com/css/womby');
    .navBar {
        font: 20px, Tahoma, sans-serif;
        list-style-type: none;
    }
    .logo {
        font-family: 'Womby', sans-serif;     
        font-size: 40px;                               
    }
    .tab {
        font-size: 18px;
        margin: auto;
    }
</style>

<ul class="navBar">
   <li class="logo"><a href="#HOME">tuneify</a></li>
    <li class="tab"><a href="#PROFILE">Profile</a></li>
    <li class="tab"><a href="#JOURNAL">Journal</a></li>
    <li><button>+ Log</button></li>
</ul>