<style> 
    @font-face {
        font-family: 'Velodrama';
        src: url('css/VelodromaBasic-Regular.otf');
    } .navBar {
        display: grid;
    } .logo {
        grid-column-start: [first];
        grid-column-end: [line3];
        grid-row-start: [row1-start];
        grid-row-end: [row1-end];

        font: 'css/VelodromaBasic-Regular.otf', sans-serif;     
        font-size: 40px;                               
    } .listNav {
        grid-column-start: [line3];
        grid-column-end: [col4-start];
        grid-row-start: [row1-start];
        grid-row-end: [row1-end];
        align-items: right;
        font: 14px, Tahoma, sans-serif;
    } .listNav.profile {
        font-size: 12px;
    } .listNav.journal {
        margin-left: 5%;
    } .log {
        grid-column-start: [col4-start];
        grid-column-end: [end];
        grid-row-start: [row1-start];
        grid-row-end: [row1-end];
    }
</style>

<div class="navBar">
    <a href="#HOME" class="logo">Tuneify</a>
    <div class="listNav">
        <a class="profile" href="#PROFILE">Profile</a>
        <a class="journal"><a href="#JOURNAL">Journal</a>
    </div>
    <button class="log">+ Log</button>
</div>