<style>
    .userProfile{
        font: 20px "Century Gothic", Futura, sans-serif;
        padding: 10px;
        width: 150px;
        height: 200px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .profilePic{
        width: 150px;
        height: 150px;
        margin-bottom: 5px;
        display: grid;
        column-gap: 50px;
    }
    .username{
        font-size: 18px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        display: grid;
        column-gap: 50px;
    }
</style>

<div class="userProfile">
    <div>
        <img class="profilePic" alt="profilePic" src="img/example_album.jpg">
    </div>
    <div>
        <h2 class ="username"> Username </h2>
    </div>
</div>